body {
    background: #d3d3d3 !important;
    font-family: 'Oxygen', sans-serif;
}

.form_bg {
    background-color: #fff;
    color: #666;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 306px;
}

.align-center {
    text-align: center;
}

.error{
    color: #FF0000;
    text-align: center;!important;
}